@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bgimage {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 500% 500%;
    animation: colors 15s ease infinite;
    drop-shadow(0px 0px 10px #ff0000);
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes shadow {
    0% {
        filter: drop-shadow(0px 0px 20px #ff0000);
    }
    50% {
        filter: drop-shadow(0px 0px 200px #ff0000);
    }
    100% {
        filter: drop-shadow(0px 0px 20px #ff0000);
    }
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.doors {
    display: flex;
    border: 10px solid #ff0000;
    border-radius: 62px;
    animation: shadow 3s ease infinite;
}

.door {
    background: #fafafa;
    width: 234px;
    height: 195px;
    overflow: hidden;
    margin: 2px;
}

.left {
    border-radius: 50px 0ex 0ex 50px;
}

.right {
    border-radius: 0ex 50px 50px 0ex;
}

.boxes {
    /* transform: translateY(0); */
    transition: transform 2s ease-in-out;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.buttons {
    margin: 1rem 0 2rem 0;
}

.full-button {
    display: block;
    width: 100%;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0 0.2rem 0 0.2rem;
}

.info {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.leftalign {
    position: absolute;
    left: 20px;
    top: 10px;
}

[type='radio'] {
    display: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.black {
    color: #000000;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
}

body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 27.3em;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.image2 {
    width: 390;
    height: 585;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Courier New', Courier, monospace, bold;
    padding-bottom: 30px;
}

.grid {
    text-align: center;
    width: calc(100% - 15px);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 50px;
}

.grid:hover {
    text-align: center;
    width: calc(100% - 15px);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 50px;
    grid-gap: 15px;
    opacity: 100%;
}

.span2 {
    grid-column: span 2;
}

.width50,
.width50:hover {
    width: 60%;
    margin-top: 50px;
    position: relative;
    left: calc(20% - 15px);
}

.btn {
    opacity: 25%;
}

.btn:hover {
    opacity: 100%;
}

@media screen and (max-width: 1344px) {
    .btn {
        opacity: 100%;
    }
}