html {
    height: 100%;
    width: 100%;
}

.boxes {
    text-align: left;
    border: 2px solid black;
    border-radius: 10px;
}

.centerdiv {
    text-align: center;
    vertical-align: middle;
    width: 90%;
    padding-left: 5%;
}

.images {
    object-fit: cover;
}