html {
    height: 100%;
    width: 100%;
}

.boxes {
    border: 2px solid black;
    border-radius: 10px;

}

.centerdiv {
    text-align: center;
    vertical-align: middle;
    width: 90%;
    padding-left: 5%;
}

.images {
    object-fit: cover;
    text-align: left;
    position: relative;
    grid-column-start: 1;
}

.grid {
    display: grid;
    grid-template-columns: 15% auto auto;
}

.grid1 {
    grid-column-start: ;
}