html {
    height: 100%;
    width: 100%;
}

.boxes {
    text-align: left;
    border: 2px solid black;
}

.centerdiv {
    text-align: center;
    vertical-align: middle;
    min-width: 40%;
    max-width: 90%;
    padding-left: 33%;
}