html {
    height: 100%;
}

BODY {
    background: #AAAAAA;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.tile1,
.tile2,
.tile3,
.tile4,
.tile5,
.tile6,
.tile7,
.tile8,
.tile9,
.tile10,
.tile11,
.tile12,
.tile13,
.tile14,
.tile15,
.tile16 {
    display: table-cell;
    width: 120px;
    height: 120px;
    border: 0.2px solid rgb(0, 0, 0);
    background: url("https://popapillnews.beoz.org/games/deconstruct/images/sesu480.jpeg");
    cursor: pointer;
}

.tile1 {
    background-position: 0px 0px;
}

.tile2 {
    background-position: 360px 0px;
}

.tile3 {
    background-position: 240px 0px;
}

.tile4 {
    background-position: 120px 0px;
}

.tile5 {
    background-position: 0px 360px;
}

.tile6 {
    background-position: 360px 360px;
}

.tile7 {
    background-position: 240px 360px;
}

.tile8 {
    background-position: 120px 360px;
}

.tile9 {
    background-position: 0px 240px;
}

.tile10 {
    background-position: 360px 240px;
}

.tile11 {
    background-position: 240px 240px;
}

.tile12 {
    background-position: 120px 240px;
}

.tile13 {
    background-position: 0px 120px;
}

.tile14 {
    background-position: 360px 120px;
}

.tile15 {
    background-position: 240px 120px;
}

.tile16 {
    background: white;
    cursor: default;
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, .5);
}

.redbox {
    display: flex;
    border: 10px solid #ff0000;
    border-radius: 10px;
}